
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background: url("../imgs/moviebackground.jpg");
    /* background-image: url('moviebackground.jpg'); no-repeat center center/cover*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}



h2 {
    margin-bottom: 20px;
    color: #ffcc00;
}


input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: none;
}

#mahirDropdown {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: none;
}


button {
    width: 100%;
    padding: 10px;
    background: #ffcc00;
    border: none;
    border-radius: 6px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #ffaa00;
}


a {
    display: block;
    margin-top: 12px;
    color: #ffcc00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: block;
    font-family: Arial, sans-serif;
}


